<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Smiley Dog</title>
</head>
<body>
<th:block th:fragment="pageHeader">
	<link href="/css/page_header.css" th:href="@{/css/page_header.css}" rel="stylesheet" />
	<link rel="stylesheet"	href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css" />
	<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
	<script src="/js/dialogConfig.js" th:src="@{/js/dialogConfig.js}"></script>
	<script src="/js/util/validator.js" th:src="@{/js/util/validator.js}"></script>
	<script src="/js/util/stringUtil.js" th:src="@{/js/util/stringUtil.js}"></script>

	<script>
	$(() => {
		$('#loginBtn').on('click', login);　//id="loginBtn"をクリックするとloginメソッドが実行
		$('#logoutBtn').on('click', logout); //id="logoutBtn"をクリックするとlogoutメソッドが実行
		
		/* ダイアログ表示 */
		$("#dialog_login_error").dialog(dialogConfig.loginError);
		$("#resetPassword").dialog(dialogConfig.resetPassword);
	});
	
	/* loginメソッド */
	let login = (event) => {
		event.preventDefault();
		let jsonString = {
				'userName': $('input[name=userName]').val(),
				'password': $('input[name=password]').val()
		};
		
		$.ajax({
			type: 'POST',
			url: '/smile/auth/login',
			data: JSON.stringify(jsonString),
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		})
		
		.then((result) => {
			let user = JSON.parse(result);
			
			if (user.logined) {
				/* ログイン成功 */
				/* ヘッダーの内容を変更 */
				$('#welcome_member').text(`ようこそ！${user.userName}さん`);
				$('#loginBtn').hide();
				$('#logoutBtn').show();
				$('#mypage').show();
				$('#mypage').attr("style", "display: inline-block");
				
				/* form欄を空欄にする */
				$('input[name=userName]').val('');
				$('input[name=password]').val('');
				
				/* userIdを取得する */
				$('#hiddenUserName').val(user.userId);
				
			} else {
				/* ログイン失敗 */
				$("#dialog_login_error").dialog("open"); //ダイアログオープン
				
			}
		}, () => {
			console.error('Error: ajax connection failed.');
		});

	};
	
	/* logoutメソッド */
	let logout = (event) => {
		event.preventDefault();
		alert("ログアウトしました。");

		$.ajax({
			type: 'POST',
			url: '/smile/auth/logout',
			contentType: 'application/json',
			datatype: 'json',
			scriptCharset: 'utf-8'
		});
		
		/* userIdを削除する */
		$('#hiddenUserName').val('');
		
		location.href = "/smile/";
	};
	</script>

	<header>
		<div class="header_top">
			<!-- タイトルロゴ -->
			<h1><a href="/smile/" id="topLink">Smiley Dog</a></h1>
			
			<div class="header_welcome_link">
				<!-- Welcomeメッセージ -->
				<span id="welcome_member" th:if="${loginSession.getPassword() == null}">ようこそ！ゲストさん</span>
				<span th:if="${loginSession.getPassword() != null}" th:text="ようこそ！+${loginSession.getUserName()}+さん"></span>
				
				<!-- 新規ユーザー登録リンク -->
				<span>　　<a href="/smile/user/">新規ユーザー登録はこちら</a></span>
			</div>
		</div>

		<div class="header_bottom">
			<div class="header_list_login">
				<!-- カート/マイページボタン -->
				<ul>
					<li id="cartBtn"><a href="/smile/cart/">カート</a></li>
					<li id="mypage" th:class="${loginSession.getPassword() != null} ? visible : hidden "><a href="/smile/mypage/">マイページ</a></li>
				</ul>

				<!-- ユーザー名/パスワード入力ボックス -->
				<form name="loginForm" id="loginForm" method="post">
					<input type="text" name="userName" />
					<input type="password" name="password" />
					<input type="hidden" id="hiddenUserName" />
					
					<!-- ログイン/ログアウトボタン -->
					<button type="submit" id="loginBtn" th:if="${loginSession.getPassword() == null}">ログイン</button>
					<button type="submit" id="logoutBtn" th:class="${loginSession.getPassword() != null} ? 'visible' : hidden ">ログアウト</button>
				</form>
			</div>
		</div>
		
		<!-- ログインエラーダイアログ -->
		<div th:insert="fragments/dialog_login_error::dialogLoginError"></div>
	</header>
</th:block>
</body>
</html>