<!--DBから受け取るデータは、現段階ではむき出しでいい
     リスト表示分岐はEC13 10p参照-->

<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="style6.css">
    </head>

<body>
    
<header>
    
    <div class="left">
        <span>Smily Dog</span>
    </div>
    
    <div class="right">
        <span>ようこそ！ メールアドレスさん <a href="register_user.html">新規ユーザー登録はこちら</a></span>
    </div>    
        
</header>
    
    <div class="tab">
        <input type="submit" class="submit" value="カート">
        <input type="submit" class="submit" value="マイページ">
        <!--ログアウトボタン横の空欄2つ　POST通信しなくてもいい？-->
        <input type="text" class="text" size="20" name="username"> 
        <input type="text" class="text" size="20" name="password">
    </div> 

    <!--カートリスト DBと通信 13_EC参照-->
    
<main>
        
    <div class="form">
            
        <h2>宛先を選択し、決済を完了します。</h2>
        <h3>宛先の新規登録、削除も可能です。</h3>
        
        <table id="cartTable">
            
            <thead>
                <tr>
                    <th>選択</th>
                    <th>宛先氏名</th>
                    <th>住所</th>
                    <th>電話番号</th>
                </tr>
            </thead>
            
            <tbody>
                <tr th:each="product: ${mst_destination}">
                    <td><input type="radio" class="radio" />
                    <td th:text="${family_name} ${first_name" />
                    <td th:text="${address}" />
                    <td th:text="${tel_number}" />
                </tr>
            </tbody>
            
        </table>
            
        <input type="button" class="delete" value="削除">
        <input type="button" class="purchase" value="新規宛先">
        <input type="button" class="settlement" value="決済">   
    </div>
  
</main>
    
</body>
    
</html>