@charset "UTF-8";

body{
    background:linear-gradient(to bottom, #b6fbff, #83a4d4) fixed;
}

.box{
    width: 80%;
    margin:0 auto;
    margin-top:2%;
    background-color: white;
    border-radius: 20px;
    text-align: center;
    padding-top:3%;
    padding-bottom:3%;
    margin-bottom: 10%
    
}

h2{color: #D2B48C;
}

.user th{
    border:1px solid #D2B48C;
    background-color: antiquewhite;
    margin-left:5%;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #D2B48C;
}

.name-family{
	margin-right: 2%;
}

.user td{
    border:1px solid #D2B48C;
    text-align: left;
    padding-left: 3%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.user{
    margin-left: 10%;
    border-collapse: collapse;
    width:80%;
    text-align: center;
}

.form-button .check{
	display:inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 50%;
    width: 10%;
}

.form-button .clear{
	display:inline-block;
	margin-top: 2%;
	margin-bottom: 2%;
	margin-left: 2%;
    width: 10%;
}

.errorContent{
	color:red;
	font-size:80%;
}

.error{
	margin-bottom:3%;
}

#inputDestinationConfirm{
	text-align: center;
}

.confirm td{
	border:1px solid #D2B48C;
    text-align: left;
    padding-top: 2%;
    padding-bottom: 2%;
}

.address{
	width: 70%;
}