@charset "UTF-8";
  
body{
	color: #D2B48C;
    background: linear-gradient(to bottom, #b6fbff, #83a4d4)fixed;
}

.my_page{
	width: 80%;
    border-radius: 20px;
    background-color: white;
    margin: 0 auto;
    margin-top: 2%;
    margin-bottom: 3%;
    text-align: center;
}

h2{
	padding-top: 2%;
}

table{
	width: 80%;
    margin: 0 auto;
    border: 2px solid #D2B48C;
    border-collapse: collapse;
}

td{
	padding: 10px;
	text-align: left;
}

th, td{
    border: 1px solid #D2B48C;
    width: 50%;
}

th{
	background-color: antiquewhite;
}

.resetPassword{
	float: right;
}

.buttonArea{
	border-top: 2px solid #D2B48C;
	border-left: 2px solid white;
	border-right: 2px solid white;
	border-bottom: 2px solid white;
	background-color: white;
	padding-top: 2%;
}

#historyButton{
	float: right;
    margin-bottom: 4%;
    padding: 0.5% 10% 0.5% 10%;
}