<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Smiley Dog</title>
<link rel="stylesheet" type="text/css" href="/css/destination.css">
<link href="/css/page_header.css" th:href="@{/css/page_header.css}" rel="stylesheet" />
</head>
<body>
	<header>
	
	<div th:insert="fragments/page_header::pageHeader"></div>
	
	</header>
	<main>
	
	<div class="box">
	    <h2>宛先登録</h2>
	    
	    <table id="register" class="user">
	        <tr>
	        	<th>宛先氏名</th>
	            <td>
	            	<input type="text" name="familyName" th:value="${user.familyName}"   class="name-family"  placeholder="宛先　姓" maxlength="16" /> 
	            	<input type="text" name="firstName" th:value="${user.firstName}"  placeholder="宛先　名"  maxlength="16" />
	            </td> 
	        </tr>
	        <tr>    
	            <th>住所</th>
	            <td>
	            	<input type="text" name="address" placeholder="住所" maxlength="50" class="address" />
	            </td>
	        </tr>
	        <tr>    
	            <th>電話番号<br /><span class="memo">(半角数字 10～13文字)</span></th>
	            <td>
	            	<input type="text" name="telNumber" placeholder=0311112222 maxlength="13" />
	            </td>
	        </tr>
	    </table>
	    <div class="form-button">
		    <button class="check" id="confirm">確認</button>
		    <button class="clear" id="resetButton">クリア</button>
	    </div>
    
    </div>
    
    <div th:insert="fragments/dialog_input_destination_error::dialogInputDestinationError"></div>
  
  	<div th:insert="fragments/dialog_input_destination_confirm::dialogInputDestinationConfirm"></div>
    
    </main>
    
    <script>

const errorSelector = {
  '姓': '.familyNameError',
  '名': '.firstNameError',
  '電話番号': '.telNumberError',
  '住所': '.addressError',
};
$(() => {
  $('#resetButton').on('click', () => {
     $('table').find("input").val("");
  });
  
  $('button#confirm').on('click', () => {
		
		let errInfo = validate({
		  'familyName': checker.familyName,
		  'firstName': checker.firstName,
		  'address': checker.address,
		  'telNumber': checker.telNumber
		});
		if (errInfo.isError) {
		  
		  createErrorDialog(errInfo.errMsg);
		  $("#inputDestinationError").dialog("open");
		} else {
		 
		  createConfirmDialog({
		    'familyName': checker.familyName,
		    'firstName': checker.firstName,
		    'address': checker.address,
		    'telNumber': checker.telNumber
		  });
		  $("#inputDestinationConfirm").dialog("open");
		}
  });

});


$(function() {
  $('#inputDestinationError').dialog(dialogConfig.inputDestinationError);
  $('#inputDestinationConfirm').dialog(dialogConfig.inputDestinationConfirm);
});

</script>
</body>
</html>